.footer {
  /* background-color: #333; */
  color: black;
  /* padding: 20px; */
  text-align: center;
  margin: 96px 0 0 0;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 0 0 15 0;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  font-style: italic;
}

.left-text {
  align-self: flex-start;
}

.right-text {
  align-self: flex-end;
}

.h3-like{
  font-size: 1.75rem;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  color: black;
  background-color: white;
  margin: 96px auto 96px auto;
  height: 297mm;
  width: 210mm;
  /* font-size: 2vmin; */
}


/* Reset default styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav {
  background-color: #444;
  padding: 0.5rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  display: flex;
  max-width: 800px;
  margin: 2rem auto;
}

section {
  flex: 3;
  margin-right: 1rem;
}

aside {
  flex: 1;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
} */
